doctype html
html
  head
    base(href="/")
    title VMware - Wavefront Training Materials
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/vmware.css')
  body
    app loading...
    script(src="javascripts/jquery/jquery.slim.min.js")
    script(src="javascripts/popper.js/umd/popper.min.js")
    script(src="javascripts/bootstrap/bootstrap.min.js")
    script(src="javascripts/systemjs/system.js")
    script(src="javascripts/zone.js/zone.js")
    script(src="javascripts/reflect-metadata/Reflect.js")
    script(src="javascripts/systemjs.config.js")
    script System.import('./main.js');